<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">商品信息编辑</h3>
                    </div>
                    <div class="card-body">
                        <form id="goodsForm" onsubmit="return false;">
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">请选择分类:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <select class="form-control col-sm-3" id="levelOne"
                                        data-placeholder="请选择分类...">
                                    <th:block th:unless="${null == categories}">
                                        <th:block th:each="c : ${categories}">
                                            <option th:value="${c.categoryId}" th:text="${c.categoryName}"
                                                    th:selected="${null != c.categoryId} ?true:false">
                                                >
                                            </option>
                                        </th:block>
                                    </th:block>
                                </select>&nbsp;
                            </div>
                            <div class="form-group" style="display:flex;">
                                <input type="hidden" id="goodsId" name="goodsId"
                                       th:value="${goods != null and goods.goodsId != null } ? ${goods.goodsId}: 0">
                                <input type="text" class="form-control col-sm-6" id="goodsName" name="goodsName"
                                       placeholder="*请输入商品名称(必填)"
                                       th:value="${goods != null and goods.goodsName != null } ? ${goods.goodsName}: ''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="date" class="form-control col-sm-6" id="goodsProductionTime" name="goodsProductionTime"
                                       placeholder="请输入生产时间"
                                       th:value="${goods != null and goods.goodsProductionTime != null }?${goods.goodsProductionTime}: ''"
                                       required="true">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <input type="text" class="form-control col-sm-6" id="goodsColor" name="goodsColor"
                                       placeholder="请输入商品颜色"
                                       th:value="${goods != null and goods.goodsColor != null } ? ${goods.goodsColor}: ''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="text" class="form-control col-sm-6" id="goodsSize"
                                       name="goodsSize"
                                       placeholder="请输入商品尺寸"
                                       th:value="${goods != null and goods.goodsSize != null } ? ${goods.goodsSize}:''"
                                       required="true">
                                &nbsp;&nbsp;
                            </div>
                            <div class="form-group" style="display:flex;">
                                <input type="text" class="form-control col-sm-6" id="goodsMaterial" name="goodsMaterial"
                                       placeholder="请输入商品材质"
                                       th:value="${goods != null and goods.goodsMaterial != null } ? ${goods.goodsMaterial}:''"
                                       required="true">
                                &nbsp;&nbsp;
                                <input type="text" class="form-control col-sm-6" id="goodsImprintMethod"
                                       name="imprintMethod"
                                       placeholder="请输入印刷方式"
                                       th:value="${goods != null and goods.goodsImprintMethod != null } ? ${goods.goodsImprintMethod}:''"
                                       required="true">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="col-sm-4">
<!--                                        <th:block th:if="${null == goods}">-->
<!--                                            <img src="/admin/img/img-upload.png"-->
<!--                                                 style="height: 64px;width: 64px;">-->
<!--                                        </th:block>-->
                                        <th:block th:unless="${null == goods}">
                                            <img th:src="${goods.goodsCoverImg}"
                                                 style="width:160px ;height: 160px;display:block;">
                                        </th:block>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <form id="uploadForm">
                                            <label for="fileInput" id="uploadedImages">
                                                    <img id="uploadImage" src="/admin/img/img-upload.png"
                                                         alt="Upload Image">
                                            </label>
                                            <input type="file" id="fileInput" name="files[]" multiple
                                                   style="display: none;">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="wangEditor"
                                 th:utext="${goods != null and goods.goodsDetails != null}?${goods.goodsDetails}: ''">
                            </div>
                            <div class="form-group">
                                <!-- 按钮 -->
                                &nbsp;<button class="btn btn-info float-right" style="margin-left: 5px;"
                                              id="saveButton">保存商品
                            </button>&nbsp;
                                &nbsp;<button class="btn btn-secondary float-right" style="margin-left: 5px;"
                                              id="cancelButton">返回商品列表
                            </button>&nbsp;
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>


<!-- jQuery -->
<script th:src="@{/common/js/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/common/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/js/adminlte.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/common/js/sweetalert.min.js}"></script>
<!-- ajaxupload -->
<script th:src="@{/admin/js/ajaxupload.js}"></script>
<!-- wangEditor -->
<script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
<script th:src="@{/common/js/public.js}"></script>
<script th:src="@{/admin/js/goods/goods_edit.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- 引入Bootstrap Datepicker的CSS和JavaScript文件 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('#goodsInfo').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
    });
</script>
</body>
</html>
