<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>

<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        padding-top: 2px;
        vertical-align: middle;
    }

    a {
        color: #1baeae;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    a:hover {
        color: white;
        background-color: #1baeae;
    }

    tr {
        text-align: center;
    }
    .ui-jqgrid-labels{
        color: #1b1e21;
    }

    .form-select {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        margin-top: 5px;
        margin-left: 230px;
    }

    .form-select:hover {
        background-color: #f5f5f5;
    }
</style>

<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-fragment"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <div th:replace="admin/header::header-nav"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="card card-primary card-outline">
                <div class="card-header d-flex justify-content-between align-items-end">
                    <h3 class="card-title">首页</h3>
                    <th:block th:if="${accessCount != null and accessCount != ''}">
                        <label class="fa fa-user-times" title="首页访问次数">：<span th:text="${accessCount}"></span></label>
                    </th:block>
                </div>
<!--                <div class="card-body" style="width: 500px">-->
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <label class="hot-product">热门点击商品</label>
                                <table id="jqGrid" class="table table-bordered">
                                </table>
                            </div>

                            <div class="col">
                                <label class="hot-product">热门INQUIRY商品</label>
                                <table id="jqGrid1" class="table table-bordered">
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" >
                                    <select class="form-select" onclick="selectChange()">
                                        <option value="1">Weekly</option>
                                        <option value="2">Monthly</option>
                                    </select>
                                <canvas id="myCanvas"></canvas>
                            </div>
                        </div>
                    </div>
                <div class="card-body" style="width: 100%">

                </div><!-- /.card-body -->
            </div><!-- /.container-fluid -->

            <div class="modal fade" id="passwordModel" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="passwordModelLabel">Modal</h6>
                        </div>
                        <div class="modal-body">
                            <form id="passwordForm">
                                <div class="form-group">
                                    <div class="alert alert-danger" id="edit-error-msg" style="display: none;">
                                        错误信息展示栏。
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passwordFirst" class="control-label">修改密码:</label>
                                    <input autocomplete="new-password" type="password" class="form-control" aria-hidden="true" id="passwordFirst" name="passwordFirst"
                                           placeholder="请输入新密码" required="true" style="width: 400px">

                                        <input autocomplete="new-password" type="password" class="form-control" aria-hidden="true" id="passwordSecond" name="passwordSecond"
                                               placeholder="请再次输入密码" required="true" style="width: 400px">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" id="submitPassword">确认</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--chart-->
<script src="https://cdn.staticfile.org/Chart.js/3.9.1/chart.js"></script>
<!-- jQuery -->
<script th:src="@{/common/js/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/common/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin/js/adminlte.min.js}"></script>
<script th:src="@{/admin/js/jqGrid/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/js/jqGrid/grid.locale-cn.js}"></script>
<script th:src="@{/common/js/sweetalert.min.js}"></script>
<script th:src="@{/common/js/public.js}"></script>
<script th:src="@{/admin/js/goods/index.js}"></script>
</body>
</html>
