@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 50%;
        float: left;
        margin-left: 50px;
    }

    /* 设置row和col的样式 */
    .row, .col {
        padding: 0;
        margin: 0;
    }

    .imgShow p {
        text-align: center;
    }

    .container {
        position: relative;
        margin-top: 30px;
    }

    #productImg {
        text-align: center;
    }

}

.container.marketing img{
    transition: transform 0.3s ease;
}

.container.marketing img:hover{
    transform: scale(1.06) translateY(-7px);
}

.product_name img{
    transition: transform 0.3s ease;
}

.product_name img:hover{
    transform: scale(1.1) translateY(-10px);
}

.col-md-5.featured{
    /*margin-bottom: 10px;*/
    position: center;
}

#nullProduct {
    margin-top: 100px;
    text-align: center;
}

a, button {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

a {
    text-decoration: none;
    color: #0c5460;
}

ul {
    list-style: none;
}

h2 {
    margin: 0px;
    padding: 0px;
}

.flash img {
    width: 100%
}

.flash ul.bxslider {
    list-style: none;
}

.flash div.bx-pager {
    bottom: 4%;
}

.flash div.bx-controls-direction {
    dissplay: none;
}

.img-thumbnail:hover, .opacity_img:hover {
    opacity: 0.8;
}

/*列表页*/
.list_box {
    clear: both;
    padding: 10px 0px 0px 0px;
}

/*栏目导航*/
.left_nav {
    clear: both;
    padding-top: 10px;
}

.left_h {
    font-size: 22px;
    display: block;
    margin-top: 25px;
    padding: 0px 0px 10px 0px;
    color: #2C2B2B;
}

.left_nav_ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    width: 200px;
}

.left_nav_ul > li {
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    padding: 8px 0px 8px 18px;
}

.left_nav_ul > li > a {
    text-decoration: none;
    color: #656464;
}

.left_nav_ul > li > a:hover, .left_nav_ul li{
    color: #CFA970;
}

/*分页样式*/
.page {
    clear: both;
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.page a {
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    border: #dbdbdb 1px solid;
    padding: 4px 9px;
    margin: 2px 2px 5px;
    color: #31363c;
    text-decoration: none
}

.page a:hover, .page a:focus {
    font-family: Arial;
    font-size: 13px;
    border: #000 1px solid;
    padding: 4px 9px;
    color: #fff;
    background-color: #31363c;
}

.page .current {
    font-family: Arial;
    border: #000 1px solid;
    font-size: 13px;
    padding: 5px 9px;
    color: #fff;
    margin: 2px;
    background-color: #31363c
}

.showpic_box, .proinfo_box {
    margin: 30px 0px 20px 0px;
}

.showpic_box div.bx-wrapper img {
    margin: 0 auto;
    max-height: 340px;
}

.product_info {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.product_info li {
    line-height: 24px;
    padding-bottom: 12px;
}

/*大屏幕*/
@media screen and (min-width: 769px) {
    header {
    }

    .logo {
        margin: 25px 0px 15px 0px;
        max-width: 700px;
    }

    #app_menudown, #small_search {
        display: none;
    }

    .index_left_nav {
        display: none;
    }

    .index_about {
        width: 600px;
    }

    #productImg img{
        /*margin-left: 10px;*/
        width: 225px;
        height: 225px;
        display: inline-block;
        text-align: center;
    }
    #searchProductImg img{
        width: 225px;
        height: 225px;
        display: inline-block;
        text-align: center;
    }
}

/*小屏幕*/
@media screen and (max-width: 768px) {
    .logo {
        display: block;
        max-width: 310px;
        margin: 18px auto 15px;
    }

    .navbar-brand {
        color: #fff;
        font-size: 16px;
    }

    .navbar-brand:hover,
    .navbar-brand:focus {
        color: #fff;
    }

    .navbar-toggle {
        border: none;
    }

    .navbar-collapse, .navbar-default .navbar-form {
        border: 1px solid #202020;
    }

    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: #CFA970;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-nav > li:last-child {
        border: none;
    }

    .navbar-nav > li > a,
    .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus,
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus,
    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus,
    .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #CFA970;
        color: #fff;
    }

    .left_h {
        margin-top: 10px;
    }

    #productImg img{
        height: 60%;
        margin: 3px;
        display: block; /* 使图片堆叠 */
        width: 100%; /* 图片宽度占满父容器 */
        text-align: center;
        border: solid 1px grey;
    }
    #searchProductImg img {
        width: 80%;
        height: 60%;
        margin: 3px;
        text-align: center;
    }
    .showpic_flash {
        width: 70%;
        height: 80%;
    }

    .col-md-5.featured {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .copyright_p {
        display: none;
    }
}

/*320px到768px*/
@media screen and (min-width: 320px) and (max-width: 768px) {
    .col.productDisplay {
        float: top;
        display: block;
        text-align: center;
    }
    .left_nav_ul {
        float: bottom;
        display: block;
    }
    .showpic_box div.bx-wrapper img {
        margin: 0 30px 0 auto;
    }

    .carousel-item{
        /*width: 50%;*/
       max-height: 300px;
    }

    .carousel-item img{
        max-height: 250px;
    }

    .col-md-5 img {
        max-width: 80%;
        max-height: 80%;
    }

    .container.marketing img{
        transition: none;
    }

    .container.marketing img:hover{
        transform: none;
    }

    .product_name img{
        transition: none;
    }

    .product_name img:hover{
        transform: none;
    }








    .col-mm-1, .col-mm-2, .col-mm-3, .col-mm-4, .col-mm-5, .col-mm-6, .col-mm-7, .col-mm-8, .col-mm-9, .col-mm-10, .col-mm-11, .col-mm-12 {
        float: left;
    }

    .col-mm-12 {
        width: 100%;
    }

    .col-mm-11 {
        width: 91.66666667%;
    }

    .col-mm-10 {
        width: 83.33333333%;
    }

    .col-mm-9 {
        width: 75%;
    }

    .col-mm-8 {
        width: 66.66666667%;
    }

    .col-mm-7 {
        width: 58.33333333%;
    }

    .col-mm-6 {
        width: 50%;
    }

    .col-mm-5 {
        width: 41.66666667%;
    }

    .col-mm-4 {
        width: 33.33333333%;
    }

    .col-mm-3 {
        width: 25%;
    }

    .col-mm-2 {
        width: 16.66666667%;
    }

    .col-mm-1 {
        width: 8.33333333%;
    }
}

@media screen and (max-width: 340px) {
    .logo {
        max-width: 230px;
    }

    .container.marketing {
        max-height: 200px;
    }
}

#footer {
    text-align: center;
    /*background: #303c4b;*/
}

.page {
    clear: both; /* margin:20px 0px 0px 0px; */
    text-align: center;
}

.page a {
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    border: #dbdbdb 1px solid;
    padding: 4px 9px;
    margin: 2px 2px 5px;
    color: #31363c;
    text-decoration: none
}

.page a:hover, .page a:focus {
    font-family: Arial;
    font-size: 13px;
    border: #000 1px solid;
    padding: 4px 9px;
    color: #fff;
    background-color: #31363c;
}

.page .current {
    font-family: Arial;
    border: #000 1px solid;
    font-size: 13px;
    padding: 5px 9px;
    color: #fff;
    margin: 2px;
    background-color: #31363c
}