<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title,path)">
    <meta charset="UTF-8">
    <title>HopeTree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link th:href="@{/common/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/mall/css/carousel.css}" rel="stylesheet">
    <link th:href="@{/mall/css/product.css}" rel="stylesheet">
</head>

<header th:fragment="header-fragment">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/mall/index}">HopeTree</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" th:href="@{/mall/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mall/products}">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mall/about}">About Us</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Contact Us</a>-->
<!--                    </li>-->
                </ul>
                <div class="d-flex">
                    <input class="form-control me-2" type="text" id="keyword" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success"  onclick="search()">Search</button>
                </div>
            </div>
        </div>
    </nav>
</header>

<aside th:fragment="categories-fragment">
    <th:block th:if="${categories != null and !#lists.isEmpty(categories)}">
        <ul class="left_nav_ul" th:each="category: ${categories}">
            <li class="nav-item"><a th:href="@{'/mall/products/category?goodsCategoryId=' + ${category.categoryId}}"
                                    th:text="${category.categoryName}" th:class="${currCategory == category.categoryName} ? 'nav-link active': 'biglink'">
                categories
            </a>
            </li>
        </ul>
    </th:block>
    <th:block th:if="${categories == null || #lists.isEmpty(categories)}">
        <ul class="left_nav_ul">
            <li class="nav-item">
                <a href="#" class="nav-link active">Apparel</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Bags & Luggage</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Caps & Hats</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Drinkware</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Health  & Beauty</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Home & Garden</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Kitchen & Dinning</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Pet Supplies</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Publications</a>
            </li>
        </ul>
    </th:block>
</aside>
</html>