<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="mall/header::head-fragment('HopeTree','index')">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <title></title>

</head>
<body>

<header th:replace="mall/header::header-fragment">
</header>

<main>
    <label th:text="${indexPage}" style="display: none"></label>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <th:block th:if="${carousels != null and !#lists.isEmpty(carousels)}">
                <div class="carousel-item" th:each="carousel, stat : ${carousels}" th:classappend="${stat.index == 0} ? 'active' : ''" style="height: 700px">
                    <a th:href="@{'/mall/products/' + ${carousel.goodsId}}" class="bd-placeholder-img">
                        <img th:src="@{${carousel.goodsCoverImg}}" style="float: left; list-style: none; position: relative; width: 100%; height: 680px" alt="...">
                    </a>
                </div>
            </th:block>

            <th:block th:if="${carousels == null || #lists.isEmpty(carousels)}">
                <div class="carousel-item active" style="height: 700px">
                    <a href="#" class="bd-placeholder-img">
                        <img src="./mall/image/20231211_20362579.png" style="float: left; list-style: none; position: relative; width: 100%; height: 680px" alt="...">
                    </a>
                </div>
                <div class="carousel-item active" style="height: 700px">
                    <a href="#" class="bd-placeholder-img">
                        <img src="./mall/image/20231211_21190359.png" style="float: left; list-style: none; position: relative; width: 100%; height: 680px" alt="...">
                    </a>
                </div>
                <div class="carousel-item active" style="height: 700px">
                    <a href="#" class="bd-placeholder-img">
                        <img src="./mall/image/20231212_1610372.png" style="float: left; list-style: none; position: relative; width: 100%; height: 680px" alt="...">
                    </a>
                </div>
            </th:block>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>

<!--        <div style="text-align: center;"><h5>View Details</h5></div>-->
    </div>
<!--    <hr>-->
    <div class="container marketing" >
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <th:block th:if="${products != null and !#lists.isEmpty(products)}">
                <div class="col-lg-4 indexImg" th:each="product : ${products}">
                    <a th:href="@{'/mall/products/' + ${product.goodsId}}">
                        <img  style="width:330px;height:330px" th:src="@{${product.goodsCoverImg}}">
                        <h2 th:text="${#strings.abbreviate(product.goodsName, 20)}">Heading</h2>
                    </a>
                </div>
            </th:block>

            <th:block th:if="${products == null || #lists.isEmpty(products)}">
                <div class="col-lg-4">
                    <a thref="#">
                        <img  width="200" height="200" src="./mall/image/20231211_20362579.png">
                        <h2>Harry Potter</h2>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a thref="#">
                        <img  width="200" height="200" src="./mall/image/20231212_1610372.png">
                        <h2>Teddy</h2>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a thref="#">
                        <img  width="200" height="200" src="./mall/image/20231211_21190359.png">
                        <h2>Talk like TED</h2>
                    </a>
                </div>
            </th:block>
        </div>

        <!-- START THE FEATURETTES -->
        <hr >
        <th:block th:if="${goods != null and !#lists.isEmpty(goods)}">
            <div class="row featured" th:each="good : ${goods}">
                <div class="col-md-7">
                    <a th:href="@{'/mall/products/' + ${good.goodsId}}">
                        <h2 class="featured-heading" th:text="${#strings.abbreviate(good.goodsName, 20)}">First featurette heading. <span
                                class="text-muted">It’ll blow your mind.</span></h2>
                        <br>
                        <p class="lead" th:text="${good.goodsColor}">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                            tellus ac cursus commodo.</p>
                    </a>
                </div>
                <div class="col-md-5 featured">
                    <a th:href="@{'/mall/products/' + ${good.goodsId}}">
                        <img  class="bd-placeholder-img bd-placeholder-img-lg featured-image img-fluid mx-auto"
                              th:src="@{${good.goodsCoverImg}}" style="height: 350px; width: 350px" alt=""/>
                    </a>
                </div>

                <div><hr></div>
            </div>
        </th:block>


        <th:block th:if="${goods == null || #lists.isEmpty(goods)}">
            <div class="row featurette">
                <div class="col-md-7">
                    <a href="#">
                        <h2 class="featurette-heading">First featurette heading. <span
                                class="text-muted">It’ll blow your mind.</span></h2>
                        <br>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                            tellus ac cursus commodo.</p>
                    </a>
                </div>
                <div class="col-md-5" id="carouselImg3">
                    <a href="#">
                        <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                              src="./mall/image/20231212_1610372.png" style="height: 400px; width: 400px" alt=""/>
                    </a>
                </div>
                <div><hr></div>
            </div>
            <div class="row featurette">
                <div class="col-md-7">
                    <a href="#">
                        <h2 class="featurette-heading">First featurette heading. <span
                                class="text-muted">It’ll blow your mind.</span></h2>
                        <br>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                            tellus ac cursus commodo.</p>
                    </a>
                </div>
                <div class="col-md-5" id="carouselImg4">
                    <a href="#">
                        <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                              src="./mall/image/20231211_21190359.png" style="height: 400px; width: 400px" alt=""/>
                    </a>
                </div>

                <div><hr></div>
            </div>
            <div class="row featurette">
                <div class="col-md-7">
                    <a href="#">
                        <h2 class="featurette-heading">First featurette heading. <span
                                class="text-muted">It’ll blow your mind.</span></h2>
                        <br>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                            tellus ac cursus commodo.</p>
                    </a>
                </div>
                <div class="col-md-5" id="carouselImg5">
                    <a href="#">
                        <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                              src="./mall/image/20231211_20362579.png" style="height: 400px; width: 400px" alt=""/>
                    </a>
                </div>


            </div>
        </th:block>
    </div>

    <footer class="container" id="footer">
            <p class="float-end"><a href="#">Top</a></p>
        <section>
            <p>CopyRight 2023 Company Name All Right Reserved. hopetree</p>
            <ul>
                <li>Add: New York, Tel: +86 1888888888, Email: info@hopetreepromos.com</li>
            </ul>
        </section>
    </footer>
</main>

<script th:src="@{/common/js/jquery-1.8.0.js}"></script>
<script th:src="@{/common/js/bootstrap3.js}"></script>
<script th:src="@{/common/js/public.js}"></script>
<script th:src="@{/mall/js/products.js}"></script>
</body>
</html>
