<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('Product Detail','product_detail')">
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>

<style>
    /* table 样式 */
    table {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }
    table td,
    table th {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 3px 5px;
    }
    table th {
        border-bottom: 2px solid #ccc;
        text-align: center;
    }

    /* blockquote 样式 */
    blockquote {
        display: block;
        border-left: 8px solid #d0e5f2;
        padding: 5px 10px;
        margin: 10px 0;
        line-height: 1.4;
        font-size: 100%;
        background-color: #f1f1f1;
    }

    /* code 样式 */
    code {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        background-color: #f1f1f1;
        border-radius: 3px;
        padding: 3px 5px;
        margin: 0 3px;
    }
    pre code {
        display: block;
    }

    /* ul ol 样式 */
    ul, ol {
        margin: 10px 0 10px 0;
    }

    .main-image {
        width: 100%;
        max-width: 400px; /* 根据需要调整主图大小 */
    }

    .main-image img {
        width: 100%;
    }

    .thumbnail-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .thumbnail, .subImage{
        width: 60px; /* 子图大小 */
        height: 60px; /* 子图大小 */
        margin: 5px;
        cursor: pointer;
        object-fit: cover;
    }

    .thumbnail:hover {
        opacity: 0.7;
    }

</style>
<body>
<header th:replace="mall/header::header-fragment"></header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <aside th:replace="mall/header::categories-fragment"></aside>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-9" style="float: right">
            <div class="row">
                    <div class="col-sm-12 col-lg-6 showpic_box">
                        <div class="bx-wrapper" style="width: 400px; overflow: hidden; position: relative; height: 400px;">
                            <div class="product-gallery">
                                <div class="main-image">
                                    <img id="mainImg" width="400px" height="400px" th:src="@{${details.goodsCoverImg}}">
                                </div>
                                <!-- 子图列表 -->
                                <th:block th:if="${imgPathSub != null and !#lists.isEmpty(imgPathSub)}">
                                    <div class="thumbnail-list" >
                                        <div class="subImage" th:each="path : ${imgPathSub}">
                                            <img class="thumbnail" th:src="@{${path}}" alt="子图">
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-6 proinfo_box">
                        <h1 th:text="${details.goodsName}"></h1>
                        <ul class="product_info">
                            <th:block th:if="${details.goodsColor != null }">
                                <li><strong>Color: </strong><span th:text="${details.goodsColor}"></span></li>
                            </th:block>
                            <th:block th:if="${details.goodsSize != null }">
                                <li><strong>Size: </strong><span th:text="${details.goodsSize}"></span></li>
                            </th:block>
                            <th:block th:if="${details.goodsMaterial != null }">
                                <li><strong>Material: </strong><span th:text="${details.goodsMaterial}"></span></li>
                            </th:block>
                            <th:block th:if="${details.goodsImprintMethod != null }">
                                <li><strong>Imprint Method: </strong><span th:text="${details.goodsImprintMethod}"></span></li>
                            </th:block>
                            <th:block th:if="${details.goodsProductionTime != null }">
                                <li><strong>Production Time: </strong><span th:text="${details.goodsProductionTime}"></span></li>
                            </th:block>
                            <li>
                                <input type="hidden" th:value="${details.goodsId}">
                                <button type="button" name="INQUIRY" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" id="inquiryButton">INQUIRY
                                </button>
                            </li>
                        </ul>

                    </div>

                    <hr width="80%">
                    <div>
                        <th:block th:if="${details.goodsDetails != null and details.goodsDetails != ''}">
                            <span th:utext="${details.goodsDetails}"></span>
                        </th:block>
                        <th:block th:if="${details.goodsDetails == null || details.goodsDetails == ''}">
                            <div class="col" id="nullProduct">
                                <h2><span>Click on "INQUIRY" to inquire for details.</span></h2>
                            </div>
                        </th:block>
                    </div>
<!--                </div>-->
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">INQUIRY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="hidden" th:value="${details.goodsId}" class="form-control" id="goodsId">
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" th:value="${details.goodsName}" class="form-control" id="goodsName"
                                   placeholder="Product Name">
                            <label for="goodsName">Product Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number"  class="form-control" value="1" id="quantity" >
                            <label for="quantity">Order Quantity</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="yourName" placeholder="Your Name">
                            <label for="yourName">Your Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="companyName" placeholder="Company Name">
                            <label for="companyName">Company Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="address" placeholder="Address">
                            <label for="address">Address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="phone" placeholder="Phone">
                            <label for="phone">Phone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="fax" placeholder="Fax">
                            <label for="fax">Fax</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="email" placeholder="E-mail">
                            <label for="email">*E-mail</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="message" placeholder="Message">
                            <label for="message">Message</label>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control" name="verifyCode" id="verifyCode"
                                       placeholder="Verify code" required="true">
                            </div>
                            <div class="col-6">
                                <img id="captchaImage" alt="Click Picture to refresh！" class="pointer"
                                     onclick="refreshCaptcha()">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="sendInquiry">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<footer class="container" id="footer">
    <section>
        <p>CopyRight 2023 Company Name All Right Reserved. hopetree</p>
        <ul>
            <li>Add: New York, Tel: +86 1888888888, Email: example@qq.com</li>
        </ul>
    </section>
</footer>

<script th:src="@{/common/js/jquery.min.js}"></script>
<script th:src="@{/common/js/jquery-1.8.0.js}"></script>
<script th:src="@{/common/js/public.js}"></script>
<script th:src="@{/common/js/sweetalert.min.js}"></script>
<script th:src="@{/mall/js/products.js}"></script>

<script>
    const thumbnails = document.querySelectorAll('.thumbnail');
    const mainImg = document.getElementById('mainImg');

    thumbnails.forEach((thumbnail) => {
        thumbnail.addEventListener('click', (event) => {
            mainImg.src = event.target.src;
        });
    });

</script>
</body>
</html>